###########################
# MATLAB files and output #
###########################
*.mat
*.pdf
*.jpg
*.jpeg
*.m~

########################
# OS X directory stuff #
########################
.DS_Store

